<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication and Obesity Data Management</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- Assuming you have a styles.css in public folder -->
</head>
<body>
    <header>
        <h1>Welcome to Obesity Data Management</h1>
        <nav>
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/add">Add</a></li>
                <li><a href="/allData">All Data</a></li>
                <li><a href="/search">Update and Delete</a></li>
                <li><a href="/filteredSearch">Filtered Search</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
