<!-- <div id="header-navigation" style="height: 70px;">
    <nav class="navigationMenu">
    <ul id="navigation">
        <li class="About-us" id="About-us">
            <h3 id="aboutUs"><a href="/about">About us </a></h3>
        </li>
        
        <li class="Line-up" id="Line-up">
            <h3 id="lineUp"><a href="/lineup">Line-up</a></h3>

        </li>

        <li class="Stages-Categories" id="Stages-Categories">
            <h3 id="StagesCategories"><a href="/stagescategories">Stages-Categories</a></h3>
        </li>

        <li class="FAQ" id="FAQ">
            <h3 id="faq"><a href="/FAQ">FAQ</a></h3>
        </li>

        <li class="Contact-us" id="Contact-us">
            <h3 id="ContactUs"><a href="/contactus">Contact us</a></h3>
        </li>
    </ul>
    </nav>
</div> -->

<nav>
    <div class="site-title">
        <a href="/"><h1>Obesity Blog</h1></a>
        <p>A Obesity Blog</p>
    </div>
    <ul>
        <li><a href="/"><h1>Blogs</h1></a></li>
        <li><a href="/about"><h1>About</h1></a></li>
        <li><a href="/blogs/create"><h1>Create a new Blog</h1></a></li>
    </ul>
</nav>

