<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../templates/head'); %>
    </head>
    <body>
        <%- include('../templates/header'); %>
        <div class="main">

            <%- include('../templates/menu'); %>

            <div id="AboutUsSection">
                <p class="normalp">
                The Rainbow  Music Festival is a LGTBi event
                </p>
                <p class="normalp">
                which celebrates the diversity in the lesbian. gay, bisexual, trasgender
                </p>
                <p class="normalp">
                including culturals activities and musical performances.
                </p>
                <div class="gallery">
                    <div class="image">
                        <img src="/res/Image_1_About_us.jpeg" alt="Image 1">
                        <p>ENJOY!</p>
                    </div>
                    <div class="image">
                        <img src="/res/Image_2_About_us.jpeg" alt="Image 2">
                        <p>FUN!</p>
                    </div>
                    <div class="image">
                        <img src="/res/Image_3_About_us.jpeg" alt="Image 3">
                        <p>DANCE!</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <%- include('../templates/footer'); %>
        </footer> 
    </body>
</html>